<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.directwebremoting.org/schema/spring-dwr
	http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
	">

    <dwr:controller id="dwrController" debug="true">
        <dwr:config-param name="activeReverseAjaxEnabled" value="true"/>
    </dwr:controller>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property value="true" name="alwaysUseFullPath"></property>
        <property name="mappings">
            <props>
                <prop key="/dwr/engine.js">dwrController</prop>
                <prop key="/dwr/util.js">dwrController</prop>
                <prop key="/dwr/interface/**">dwrController</prop>
                <prop key="/dwr/call/**">dwrController</prop>
            </props>
        </property>
    </bean>

    <dwr:configuration>
        <dwr:convert type="bean" class="com.entity.Book"></dwr:convert>
        <dwr:convert type="bean" class="com.bean.dto.BookDTO"></dwr:convert>
    </dwr:configuration>

    <bean id="bookPresManage" class="com.pres.BookPresManage">
        <dwr:remote javascript="jBook">
            <dwr:include method="getBooks"/>
            <dwr:include method="add"/>
            <dwr:include method="deleteBook"/>
            <dwr:include method="searchBook"/>
        </dwr:remote>
        <property name="bookServer" ref="bookServer"/>
    </bean>

    <bean id="FileUploadManage" class="com.pres.FileUploadManage">
        <dwr:remote javascript="jFileUpload">

        </dwr:remote>
    </bean>
</beans>
